@keyframes moveRight {
  0% {transform: translate3d(0,0,0);
  background: red;
  }
  25% {transform: translate3d(0,240px,0); background: green;}
  50% {transform: translate3d(0,120px,0); background:black}
  75% {transform: translate3d(0,360px,0); background: brown}
  100% {transform: translate3d(0,240px,0);background: purple}
}

.btn{
  width: 250px;
  border-radius: 3px;
  color: white;
  background: red;
  padding: 15px;
}

.box {
  width: 300px;
  height: 300px;
  background: black;
  transition: all .6s ease-in-out;
}



.ball {
  background: gray;
  width: 50px;
  height: 50px;
  border-radius: 25px;
 /* In this lesson we go over how to setup custom movement types other
 than ease-in-out by using cubic-bezier.com to create custom params */
  animation: moveRight 2s cubic-bezier(.17,.67,.92,.19) 3 normal forwards running;
}